.kmc2-maps-plugin .graticule,
.kmc2-maps-plugin .sphere {
  fill: none;
  stroke: #ccc;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.kmc2-maps-plugin .land,
.kmc2-maps-plugin .visited-none {
  fill: #bbb;
  stroke: #fff;
  stroke-width: .5px;
}
.kmc2-maps-plugin .active {
  fill: orange;
  stroke: #2a7fff !important;
  stroke-opacity: 1 !important;
}
.kmc2-maps-plugin .points circle {
  fill: #fff;
  stroke: red;
  stroke-width: 2px;
}
.kmc2-maps-plugin .points text {
  font: 11px sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #ffffff, 0 -1px 0 #ffffff, 1px 0 0 #ffffff, -1px 0 0 #ffffff;
}
.kmc2-maps-plugin .route {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}
.kmc2-maps-plugin .country {
  fill: white;
  fill-opacity: 0.5;
  stroke: none;
}
.kmc2-maps-plugin .coast {
  fill: none;
  stroke: #000000;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}
.kmc2-maps-plugin .boundary {
  fill: none;
  stroke: #000000;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}
.kmc2-maps-plugin svg {
  width: 100%;
  height: auto;
}
.kmc2-maps-plugin .trips-visualization-map {
  position: relative;
}
.kmc2-maps-plugin .trips-visualization-map .legend {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.kmc2-maps-plugin .trips-visualization-map .invisible {
  display: none;
}
.kmc2-maps-plugin .trips-visualization-map .selected {
  fill-color: black;
  fill-opacity: 50%;
}
.kmc2-maps-plugin .trips-visualization-map .highlight {
  fill: #ff7f2a;
  fill-opacity: 50%;
  stroke-width: 1px;
  stroke: solid;
}
.kmc2-maps-plugin .trips-visualization-map .highlight:hover {
  fill: #f01d4f;
}
